DB_NAME=squid
DB_USER=postgres
DB_PASS=squid
DB_PORT=23798
PROCESSOR_PROMETHEUS_PORT=3001
GQL_PORT=4350
# Log level: SQD_DEBUG, SQD_INFO, SQD_ERROR...
SQD_DEBUG=sqd:processor:mapping
JWT_SECRET=XXXXX
NETWORK=mainnet
START_BLOCK=0
# If set to false, it will update all accounts and token holders when head block is reached
HEAD_REACHED=false
NODE_RPC_WS_TESTNET=wss://rpc-testnet.reefscan.info/ws
NODE_RPC_WS_MAINNET=wss://rpc.reefscan.info/ws
ARCHIVE_LOOKUP_NAME_TESTNET=reef-testnet
ARCHIVE_LOOKUP_NAME_MAINNET=reef
# Batch size for accounts and token holders processing on head reached
BATCH_SIZE=100
# Time to wait between batches in ms
WAIT_TIME=0
